h1 {
    color: black
}

.basket-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    align-content: start;
    padding-left: 15px;
    padding-right: 15px;
}

.basket-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
}

.close-btn {
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.close-btn:hover {
    background-color: black;
    color: #B9FF82;
}

.subtotal {
    font-weight: bold;
}

.clear-btn {
    margin-top: 20px;
    padding: 6px 12px;
    background-color: crimson;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.clear-btn:hover {
    background-color: darkred;
}

.item-btn {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.item-btn a {
    padding: 8px 15px;
    background-color: #E6E8DD;
    color: black;
    font-size: 20px;
    border: none;
    margin: 2px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.empty-basket {
    text-align: center;
    color: grey;
}

.total {
    font-weight: bold;
    margin-top: 15px;
    text-align: end;
}

.item-btn a.plus {
    border-radius: 5px 0 0 5px;
}

.item-btn a.minus {
    border-radius: 0 5px 5px 0;
}

.item-btn a:hover {
    background-color: black;
    color: #B9FF82;
}

.basket-container {
    position: absolute;
    right: 0;
    width: 33%;
    min-height: 100vh;
    height: auto;
    top: 0;
    background-color: white;
    border: 1px solid #B6BAB0;
}
