@import './base.css';


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 15px;
}

a,
.green {
  text-decoration: none;
  padding: 3px;
}
